[submodule "modules/less.js"]
	path = modules/less.js
	url = git@github.com:cloudhead/less.js.git
[submodule "modules/curl"]
	path = modules/curl
	url = git@github.com:cujojs/curl.git
[submodule "modules/when"]
	path = modules/when
	url = git@github.com:cujojs/when.git
